.green-text {
    color: #47d11c;
}

#solutions {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

#solutions.fade-in {
    visibility: visible;
    opacity: 1;
}

#demo{
    text-align: left !important;
}

#solutions hr{
    border-color:  rgba(154, 151, 151, 0.30);
    border-style: solid none;
    margin: 18px 0;
    border-width: 1px 0;
}

.border-top{
    border-top: 1px solid #808080;
}